.quote-preview {
    border-radius: 4px;
    height: 340px;
    line-height: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quote-content {
        padding-inline: 30px;
        padding-top: 40px;
        p {
            text-align: center;
        }
    }

    .hero-name {
        font-weight: 700;
    }
}