.pagination-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    
    .paging-btns-container {
        display: flex;
        align-items: center;

        .total-pages-container {
            margin-inline-start: 10px;
        }
    }
    
    button {
        background-color: transparent;
        border: 1px solid rgb(206, 206, 206);
        color: rgb(59, 59, 59);
        border-radius: 4px;
        padding: 0;
        height: 30px;
        width: 70px;
        cursor: pointer;
        transition: all 0.3s;
        
        &:hover {
            background-color: #f8a886;
            color: #fff;
        }
        
        &.btn-number {
            width: 40px;

            &.current-page {
                background-color: #CD531F;
                color: #fff;
            }
        }
    }
    
    .move-to-container {
        display: flex;
        align-items: center;
        input {
            height: 30px;
            outline: 0;
            margin-inline-start: 5px;
            margin-inline-end: 10px;
        }
    }
}